body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color:#000;
}

#main {
  max-width: 1920px;
  width: 100%;
  float: left;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-size:3rem;
}
