body {
  background: #d1beb0;
  color: #161515;
  font-family: "Ebrima";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header,
footer {
  background-color: #574f2a;
  color: #fff;
  padding: 15px 0px;
  box-sizing: border-box;
  z-index: 100;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.align-text-mid {
  padding-left: 15%;
  padding-right: 15%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.spacing-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  z-index: 2;
}

a:hover {
 cursor: cell;
}

.second-block {
  background-color:#DCC7B5;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #161515 !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  background: #113355;
  border-radius: 25px;
  color: #fff;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  background-color: #336ea9;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.gap-6 {
  display: flex;
  gap: 60px;
}

.headline1 {
  text-align: center;
}

.headline1 span {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.headline-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
