html {
  scroll-behavior: smooth;
}

body {
  background: #d1beb0;
  color: #161515;
  font-family: "Ebrima";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header,
footer {
  background-color: #574f2a;
  color: #fff;
  padding: 15px 0px;
  box-sizing: border-box;
  z-index: 100;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.align-text-mid {
  padding-left: 15%;
  padding-right: 15%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.spacing-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-family: Rubik Dirt;
  font-weight: 400;
  font-size: 40px;
  z-index: 2;
}

.flickity-enabled.is-draggable .flickity-viewport,
a:hover {
  cursor: cell !important;
}

#Hoofdpersonen,
#Verhalen {
  text-align: center;
}

#Hoofdpersonen img {
  max-width: 400px;
  margin-bottom: -60px;
}

#Verhalen img {
  max-width: 400px;
  border-radius: 25px;
  margin-right: 50px;
}

#Verhalen img:first-child {
  margin-left: 50px;
}

#Makers {
  display: flex;
  justify-content: space-between;
}

#more {
  display: none;
}

.w-60 {
  width: 60%;
  max-width: 100%;
}

.two img {
  width: 400px !important;
}

.second-block {
  background-color: #dcc7b5;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #161515 !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#myBtn {
  color: #113355;
  text-decoration: underline;
}

#myBtn:hover {
  color: #336ea9;
}

.gifs {
  display: flex;
  justify-content: space-around;
}

.gif img {
  width: 600px;
}

.gallery-cell h2:hover {
  color: #336ea9;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.button {
  background: #113355;
  border-radius: 25px;
  color: #fff;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
}

.flickity-button {
  background-color: #113355 !important;
  color: #fff !important;
}

.flickity-button:hover {
  background-color: #336ea9 !important;
}

.button:hover {
  background-color: #336ea9;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.gap-6 {
  display: flex;
  gap: 60px;
}

.headline1 {
  text-align: center;
}

.headline1 span {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.headline-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.socials a {
  margin-right:30px;
}

footer h3 {
  margin-left:-120px;
}

.coming {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  #Makers,
  .gifs {
    display: block;
  }

  .gif img,
  .two img {
    width: 350px !important;
  }

  .w-60 {
    width: 100% !important;
  }
}
